

.text-center{
    color: rgb(244, 169, 244);
    font-weight: bold;
}

.formulario{
    border: none;
    border-radius: 15px;
    background-color: #383535AD;

}

.mensagem-erro{
    color: rgb(255, 253, 253);
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
}

.btn{
    color: white;
    font-weight: bold;
    background: linear-gradient(45deg, rgb(190, 7, 187), rgb(209, 121, 223));
    border: none;
}

.btn:hover{
    background:rgb(209, 121, 223); 
}


.btn-dois{
    color: white;
    font-weight: bold;
    background: linear-gradient(45deg, rgb(190, 7, 187), rgb(209, 121, 223));
    border-radius: 8px;
    border: none;
    margin-left: 30px;
}


.btn-dois:hover{
    background:rgb(209, 121, 223); 
}




.form-text{
    font-size: 10px;
}

.form-control{
    background-color: rgb(116, 115, 115);
    border: none;
    color: white;
    opacity: calc(90%);
}

label{
    font-weight: bold;
}

label:hover{
    color: purple;
}

.container-conf{
    border: none;
    border-radius: 15px;
    width: 40%;
    background-color: #383535AD;
    

}

